pre {
  padding: 1.25rem 0 !important;
  code {
    @apply block w-full;

    .line {
      @apply px-4 text-pretty inline-block w-full;
    }

    .diff {
      &.add {
        &::before {
          @apply font-mono -ml-4 pl-2;
          content: "+";
        }
        @apply bg-green-950;
      }

      &.remove {
        &::before {
          @apply font-mono -ml-4 pl-2;
          content: "-";
        }
        @apply bg-red-950 opacity-70;
      }
    }

    .highlighted {
      @apply inline-block w-full bg-neutral-600;

      &.error {
        @apply bg-red-950;
      }

      &.warning {
        @apply bg-yellow-950;
      }
    }
  }

  &.has-focused {
    &:hover {
      & .line {
        @apply blur-none;
      }
    }
    & .line {
      @apply blur-code opacity-70 transition-[opacity,filter];

      &.focused {
        @apply blur-none;
      }
    }
  }
}
